src/main/resources/dtd/Movements.dtd

<!ELEMENT Movements (Movement*)>
<!ELEMENT xml (#PCDATA)>
<!ELEMENT html (#PCDATA)>
<!ELEMENT Movement (Statement,Sequence,Date,Sign,Amount,CounterParty?,TransactionCode,Communication)>
<!ELEMENT Statement (#PCDATA)>
<!ELEMENT Sequence (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Sign (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT CounterParty (#PCDATA)>
<!ELEMENT TransactionCode (#PCDATA)>
<!ELEMENT Communication (#PCDATA)>