src/main/resources/dtd/Statements.dtd

<!ELEMENT Statements (Statement*)>
<!ELEMENT xml (#PCDATA)>
<!ELEMENT html (#PCDATA)>
<!ELEMENT Statement (ID1,ID2,Date,Sign,Amount,CounterParty?,TransactionCode,Communication?)>
<!ELEMENT ID1 (#PCDATA)>
<!ELEMENT ID2 (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT Sign (#PCDATA)>
<!ELEMENT Amount (#PCDATA)>
<!ELEMENT CounterParty (#PCDATA)>
<!ELEMENT TransactionCode (#PCDATA)>
<!ELEMENT Communication (#PCDATA)>