BasicAccounting/src/main/resources/dtd/Accounting.dtd

<!ELEMENT Accounting (name,Accounts,Mortgages?,Journals,Balances,CounterParties?,Statements?)>
<!ELEMENT Accounts (name)>
<!ELEMENT Journals (name)>
<!ELEMENT Balances (name)>
<!ELEMENT Mortgages (name)>
<!ELEMENT CounterParties (name)>
<!ELEMENT Statements (name)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT xml (#PCDATA)>
<!ELEMENT html (#PCDATA)>
<!ELEMENT xmlFolder (#PCDATA)>
<!ELEMENT htmlFolder (#PCDATA)>