BasicAccounting/src/main/resources/dtd/Journal.dtd

<!ELEMENT Journal (name,Transaction*)>
<!ELEMENT Transaction (nr?,date?,(Account|Mortgage),debet?,credit?,description?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT nr (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT Account (#PCDATA)>
<!ELEMENT Mortgage (#PCDATA)>
<!ELEMENT debet (#PCDATA)>
<!ELEMENT credit (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST Transaction id CDATA #IMPLIED>