BasicAccounting/src/main/resources/dtd/Journal.dtd

<!ELEMENT Journal (name,action*)>
<!ELEMENT action (nr?,date?,account,debet?,credit?,description?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT nr (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT account (#PCDATA)>
<!ELEMENT debet (#PCDATA)>
<!ELEMENT credit (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST action id CDATA #IMPLIED>