BasicAccounting/src/main/resources/dtd/Journal.dtd

<!ELEMENT Journal (name,abbr,Transaction*)>
<!ELEMENT Transaction (id,description,date,Booking*)>
<!ELEMENT Booking (id, (Account|Mortgage),(debet|credit))>
<!ELEMENT name (#PCDATA)>
<!ELEMENT abbr (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT Account (#PCDATA)>
<!ELEMENT Mortgage (#PCDATA)>
<!ELEMENT debet (#PCDATA)>
<!ELEMENT credit (#PCDATA)>